#interface wlink
adapter driver wlinke
adapter speed 6000
transport select sdi

wlink_set_address 0x00000000
set _CHIPNAME riscv
sdi newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x00001

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME.0 wch_riscv -chain-position $_TARGETNAME
$_TARGETNAME.0 configure  -work-area-phys 0x20000000 -work-area-size 10000 -work-area-backup 1
set _FLASHNAME $_CHIPNAME.flash

flash bank $_FLASHNAME wch_riscv 0x00000000 0 0 0 $_TARGETNAME.0

set FLASH_STATR    0x4002200c
set FLASH_KEYR     0x40022004
set FLASH_OBKEYR   0x40022008
set FLASH_STATR    0x4002200c
set FLASH_CTLR     0x40022010
set FLASH_ADDR     0x40022014
set FLASH_OBR      0x4002201c
set FLASH_WPR      0x40022020
set FLASH_MODEKEYR 0x40022024

echo "Ready for Remote Connections"
